<?xml version="1.0"?>

<configuration>
	
  <connectionStrings>

	  <add name="DbConnection" connectionString="Data Source=YOUR-MACHINE;Initial Catalog=YOUR-DATABASE;Integrated Security=True" providerName="System.Data.SqlClient"/>
 
  </connectionStrings>
	
  <system.web>
	  
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  
  </system.web>

</configuration>